Phase 1: Gameplay Loop
- Time/Day Cycle *CHECK*
- Energy/Stamina System *CHECK*
- Overlay Generalization to Not Show in Editor *CHECK*
- Crop Growth *CHECK*

Phase 2: In-Depth World
- More Destructibles *CHECK*
- Different Tools *CHECK*
- Save/Load System *CHECK*

Phase 3: Stardew Feel
- NPCs *CHECK*
- Friendship Points *CHECK*
- Simple Quests *CHECK*
- Money/Shop *SELLING DONE*
- NPC Schedules *CHECK*
- Animals/Feeding/Collecting *CHECK*
- Animal Pen/Mood/Friendship *CHECK*
- Proper Item Database (Resources) *CHECK*
- Weather System *CHECK, FINALLY*
* Camera Work *CHECK*
* More Crops + Seed System *CHECK*
* Sparkle System for Done Crops *CHECK*
* FIRST MULTI-STEP QUEST *CHECK*
- Festivals/Weekly Events
- Advanced Pathfinding
- Audio/SFX *GETTING THERE!*
* Quest Resource and Tracking UI *CHECK*
* Quest Prerequisites *CHECK*
* Reworked Dialogue Storage/Cooldowns *CHECK*
* Help Overlay *CHECK*
* Spawn Points / Animal Keeper *CHECK*
* Tutorial *CHECK*
- Save to Disk

Phase 4: Inventory/UI Polish

Phase 5: Expanding
- Seasons
- Weather
- Fishing
- Cooking
- Romance
- Multiplayer